# Created by .ignore support plugin (hsz.mobi)
.idea/
api/target/classes/
common/target/generated-sources/
dao/target/generated-sources/
model/target/generated-sources/
service/target/generated-sources/
web/target/generated-sources/
.gradle
*.sw?
.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
.factorypath
.recommenders
bin
build
lib/
*/target
.springBeans
interpolated*.xml
dependency-reduced-pom.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
.DS_Store
dump.rdb
transaction-logs